<h1> Add a new group thingy here and stuff </h1>

<%= simple_form_for @group, url: groups_path do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :group_banner, hint: 'Recommended size is 468x60, it will be resized.' %>
  <%= f.input :group_avatar, hint: 'Recommended size is 180x180, it will be resized.'%>
  <br />
  <%= f.submit "Create Group", class: 'btn btn-primary' %>
  <br />
<% end %>