<h1>Timeline</h1>
<% @posts.each do |post| %>
<div>
  <div class="booyah-box col-10 offset-1">
  <h1><%= link_to post.text, posts_path(post) %></h1><br />
  <p><%= post.photo %></p><br />
  <p><%= post.video %></p><br />


      
    
    <% if post.comments.present? %>
  <div class="col-12">
    <blockquote>
       <%= post.comments.last.text %>
      <small><%= post.comments.last.user.name %></small>
    </blockquote>
  </div>
  <% end %>

<% end %>
</div>

<% end %>

 